.container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}
#chart {
  width: 100%;
  border: 1px solid #32bebe;
}
.chart {
  margin: 0 auto;
}
.title {
  text-align: center;
}
.axis {
  text {
    fill: #34314c;
    stroke-width: 1;
    stroke: #34314c;
  }
  line {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 2;
  }
}
.x-axis {
  &-labels {
    text {
      alignment-baseline: middle;
      text-anchor: middle;
    }
  }
}
.y-axis {
  &-labels {
    text {
      alignment-baseline: middle;
      text-anchor: end;
    }
  }
  &-grid {
    line {
      stroke: rgba(180, 180, 180, 80);
      stroke-dasharray: 4;
      stroke-width: 2;
      &:first-child {
        stroke-width: 0;
      }
    }
  }
}
.labels {
  text {
    fill: #aaa;
  }
  line {
    stroke-width: 1;
    stroke: #aaa;
  }
}
.data {
  .dots {
    circle {
      fill: #fff;
      stroke-width: 4;
      // stroke: #60c5ba;
      transition: all ease 0.5s;
      &:hover {
        stroke-width: 6;
        // transform: scale(2, 2);
      }
    }
  }
  .line {
    path {
      fill: none;
      // stroke: #60c5ba;
      stroke-width: 4;
    }
  }
}

#dopyo-chart {
  margin: 20px;
  svg {
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid #32bebe;
  }
}
